<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
